/* import fonts from fonts.css file */
/* @import url(../fonts/Roboto/Roboto-Regular.ttf); */

/* @import url(./fonts.css); */

html, body{
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}


/* CSS Variables */ 

:root{
  --primary-color: #4458dc;
  --primary-color2: #854fee;
  --title-color: #141313;
  --text-color: #777777;  
  --border-color: #201f1f17;  
  --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
 

  /* font family variables. */ 
  /* --roboto: 'Roboto', cursive; */
} 

/* css variables */
/* @import url(./partials/_variables.css); */

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}
.navbar-brand img {
  position: relative;
  height: 1.5em;
  width: 12em;
}

#namelogo {
  position: relative;
  height: 1.5em;
  width: 12em;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  /* font-family: "Roboto", cursive; */
  /* font: normal 500 15px/2px; */
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end navigation */


/* Footer Area */
 
footer.footer-area {
  padding: 5rem 0;
  background: url(../img/footer-bg.png) no-repeat;
  overflow: hidden;
}

footer.footer-area .social h5 {
  /* font: normal 500 23px/ 30px Roboto, cursive; */
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: var(--primary-color);
}

footer.footer-area .social a:hover > i {
  border-radius: 150px;
  background: #ffffff;
  box-shadow: 6px 6px 12px #a8a8a8, -6px -6px 12px #ffffff;
  transition: 0.5s ease-in-out;
}
#particles-js {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: #ffffff; */
  /* background-image: url(""); */
  /* background-size: cover; */
  /* background-position: 50% 50%; */
  /* background-repeat: no-repeat; */
}

/* End Footer */

@media only screen and (max-width: 1880px) {
  .header_area .main-menu .nav-item .nav-link {
    padding: 1rem;
  }
  .header_area .main-menu .navbar {
    padding: 1rem 5rem;
  }
}

/* Laptop */
@media only screen and (max-width: 1024px) {
  .header_area .main-menu .navbar {
    padding: 0.5rem 0rem;
  }
  .header_area .main-menu .nav-item .nav-link {
    font-size: 0.9rem;
  }
  footer.footer-area {
    /* padding: 0.6rem; */
  }
  .footer-area .site-logo {
    padding-bottom: 0 !important;
  }
}

@media only screen and (max-width: 770px) {
  .header_area .main-menu .navbar {
    padding: 1rem 2rem;
  }
  .header_area .main-menu .nav-item .nav-link {
    padding: 0.6rem;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 600px) {
  .header_area .main-menu .navbar {
    padding: 1rem 1rem;
  }
  .header_area .main-menu .navbar .navbar-brand {
    padding: 0 0rem 0 1rem;
  }

}

@media screen and (max-width: 480px){
  footer.footer-area .social a > i {
    font-size: 22px;
    padding: 1.5rem;
  }
}


/* mobile medium */

@media only screen and (max-width: 420px) {
  .header_area .main-menu .navbar .navbar-brand {
    padding: 0rem;
    transform: translateX(-25px) scale(0.8);
  }

  footer.footer-area .social a > i {
    font-size: 18px;
    padding: 1rem;
    margin: 0 1px;
  }
}

@media only screen and (max-width: 350px) {
  .navbar-light .navbar-toggler {
    transform: scale(0.8) translate(289px, -46px);
  }
}
