@media only screen and (max-width: 1880px) {
  .header_area .main-menu .nav-item .nav-link {
    font: normal 500 13px var(--roboto);
    padding: 1rem;
  }
  .header_area .main-menu .navbar {
    padding: 1rem 5rem;
  }
}

/* Laptop */
@media only screen and (max-width: 1024px){
    .header_area .main-menu .navbar {
        padding: 0rem 0rem;
    }
    .w-75 {
        width: 113% !important;
    }
    .img-fluid {
        transform: translateY(42%);
    }
    .site-main .site-banner .banner-image > img {
        padding: 0rem 0;
    }
    
    .box {
        width: 1024px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .card{
        width: 230px;
        height: 280px;
        margin-left: 28px;
    }
    .site-main > .services-area .services {
        background: rgba(248, 252, 253, 0.973);
        padding: 2rem 1rem;
        width: 16rem;
        margin: 1rem 0.5rem;
    }
    .col-lg-3 {
        max-width: 31%;
    }
    .site-main > .services-area .services {
        background: rgba(248, 252, 253, 0.973);
        padding: 0rem 1rem;
        width: 16rem;
        margin: 1rem 1.5rem;
        height: 332px;
        
    }
    .site-main > .services-area .services:hover{
        box-shadow:  10px 10px 11px #b8b8b8, 
                    -10px -10px 11px #ffffff;
    }
    .w-50 {
        width: 60% !important;
    }
    footer.footer-area {
        padding: 0.6rem;
    }
    .footer-area .site-logo {
        padding-bottom: 0 !important;
    }
}


@media only screen and (max-width: 992px){
    .site-main .site-banner .site-title h3 {
        padding-top: 5%;
    }
    /* header{
        max-width: 720px;
    } */



@media only screen and (max-width: 600px) {
  body{
      /* overflow: hidden; */
  } 
  .header_area .main-menu .navbar {
    padding: 1rem 1rem;
  }
  .header_area .main-menu .navbar .navbar-brand {
    padding: 0 0rem 0 1rem;
  }
}




/* mobile medium */

@media only screen and (max-width: 420px){
    body{
        font-style: normal;
    }
    .row .site-title{
        width: 60%;
        position: relative;
        top: 16px;
    }
    .site-main .site-banner{
        position: relative;
        height: 173px;
    }
    .site-main .site-banner .site-title h1 {
        font-size: 1.5em;
    }
    .title-text {
        font: normal bold 20px/ 16px "Roboto";
    }
    .site-main .site-banner .site-title h3::after {
        content: " ";
        height: 1px;
        width: 38vw;
        background: black;
        display: inline-block;
        margin-left: 2%;
        transform: translateY(-4px);
    }
    .site-main .site-banner .site-title h4 {
        font-size: 0.9rem;
        font-style: italic;
    }
    .flex-row .button {
        padding: 0.5rem 0.7rem;
    }
    .site-banner .container .row{
        overflow: hidden;
    }
    
    .row .banner-image{
        position: relative;
        height: 100%;
        width: 100%;
        transform: translate(123px, -151px);
        /* overflow: hidden; */
        border-radius: 2px;
        border: 5px;
        border-color: blue;
    }
    .img-fluid {
        position: relative;
        margin: 0 auto;
        transform: scale(0.65);
        /* transform: scale(0.61) translate(180px, -350px); */
        /* overflow: hidden; */
    }
    
    /* about area */
    .about-image-div{
        display: none;
        /* visibility: hidden; */
    }
    #about > div > div > div.col-lg-6.col-md-12.about-title{
        padding: 0;
    }
    
    .site-main .about-area .about-title h2 > span{
        display: block;
        font: normal bold 26px/ 25px "Roboto";
        letter-spacing: 0px;
    }

    .about-title div{
        padding-top: 0rem !important;
    }
    .site-main .about-area {
        padding: 1rem 1rem;
        position: relative;
        transform: translateY(-39px);
    }

    #about > div > div > div.col-lg-6.col-md-12.about-title > div {
        width: 100% !important;
    }
    #about > div > div > div.col-lg-6.col-md-12.about-title > div{
        padding-bottom: 0rem !important;
    }

    .button {
        padding: .2rem 1rem;
        font: normal 100 12px/14px "Roboto";
        position: relative;
        border: 0px solid transparent;
        border-radius: 4px;
    }


    /* my hobbies */
    #hobbies:nth-child(){
        top:-50px;
    }
    #hobbies {
        padding-bottom: 5em;
        padding-top: 4em;
    }

    
    #hobbies > div.row.text-center.services-title > div > h1{
        display: block;
        font: normal bold 26px/ 25px "Roboto";
        letter-spacing: 0px;
    }

    .hobby-area .box .card:nth-child(1){
        animation: grow 2s normal;
        animation-delay: 0s;
    }
    .hobby-area .box .card:nth-child(2){
        animation: grow 2s normal;
        animation-delay: 2.5s;
    }
    .hobby-area .box .card:nth-child(3){
        animation: grow 2s normal;
        animation-delay: 5s;
    }
    @keyframes grow {
        0%{
            
        }
        100%{
            /* box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); */
            transform: rotate(360deg) scale(1.1);
        }
        0%{
            
        }
    }
    /* .card:before{
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        transform: rotate(20deg);
        
    }
    .card:after {
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        transform: rotate(10deg);
    } */
    /* centering hobby cards */
    #hobbies > div.hobby-area > div > div{
        margin: 0 auto;
    }

    /* services area */

    .site-main .services-area .services-title {
        padding: 0rem;
    }

    /* services-area not ready yet */
    .services-area{
        display: none;
    }

    /* contact area */
    .site-main .subscribe-us-area{
        position: relative;
        overflow: hidden;
    }
    
    .site-main .subscribe-us-area .subscribe {
        background: url(../img/subscribe-bg.png);
        background-position: bottom;
        padding: 1rem 0;
        width: 101%;
    }
    .subscribe-title h4{
        font-size: 1.4rem;
    }

    .subscribe-title p{
        padding: 1rem 0rem !important;
        font-size: smaller;
        width: 90%;
        margin: 0 auto;
    }
    .btn-submit{
        position: relative;
        left: 8%;
    }

    .btn-submit:hover{
        color: black !important;
    }


    .site-main .subscribe-us-area .subscribe form .input-textbox input {
        position: relative;
        left: 10%;
        width: 330px;
    }
    .site-main .subscribe-us-area .subscribe form .btn-submit button {
        background: whitesmoke;
        color: #000;
        margin-top: 5px;
        background-color: rgba(221, 223, 243, 0.73);
        padding: 0.3rem 1.2rem;
    }
    footer.footer-area .social a > i {
        font-size: 18px;
        padding: 1rem;
    }
}